* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  margin: 5rem auto;
  > .box {
    width: 80vmin;
    height: 80vmin;
    position: relative;
    background-color: darkcyan;
    overflow: hidden;
    > .heading {
      text-align: center;
      transition: transform 0.3s ease-in-out;
    }
    > .content {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      text-align: center;
      transition: transform 0.3s ease-in-out;
    }
    > .horizontal-content {
      transform: translate(100%);
    }
    > .vertical-content {
      transform: translateY(100%);
    }
  }
  > .box:nth-child(2) {
    margin-left: 50px;
  }
  > .horizontal:hover .horizontal-content {
    transform: translate(0);
    overflow: visible;
  }
  > .horizontal:hover .horizontal-head {
    transform: translate(-100%);
    overflow: visible;
  }
  > .vertical:hover .vertical-content {
    transform: translateY(0);
    overflow: hidden;
  }
  > .vertical:hover .vertical-head {
    transform: translateY(-100%);
    overflow: hidden;
  }
}
